@use "../mixins";

.create-quiz-container {
  position: relative;
  @include mixins.BasicComponentContainerFeatures;
  justify-content: start;

  h2 {
    padding: 2.5% 0;
  }

  @include mixins.BackButton;

  #quiz-creator {
    display: block;

    .menu-bar {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;

      button {
        border: 0px;
        background: rgb(196, 196, 196);
        transition: 250ms ease;
        padding: 5px 10px;

        &:hover {
          background: rgb(241, 241, 241);
          text-decoration: underline;
        }
      }
    }

    margin: 0 auto;
    height: 82%;
    width: 98%;
    position: relative;

    .questions-container {
      @include mixins.BasicQuestionsViewerStyle;

      .question-item {
        .actions {
          position: absolute;
          top: 8px;
          right: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          img {
            transition: 500ms ease;
            width: 2rem;
            border: 1px solid black;
            border-radius: 1000px;
            padding: 2px;
            cursor: pointer;
          }

          .remove-btn:hover,
          .remove-btn:focus {
            transform: rotate(-360deg);
            background: rgb(255, 180, 180);
          }

          .edit-btn {
            background: ghostwhite;

            &:hover,
            &:focus {
              transform: rotate(360deg);
              background: rgb(180, 180, 255);
            }
          }
        }
      }

      border: 1px solid grey;
      border-radius: 0 0 10px 10px;

      .new-question {
        transition: 500ms ease;
        width: 80%;
        height: 300px;
        display: block;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5%;

        input[type="text"] {
          width: 50%;
          outline: none;
          border: 0;
          border-bottom: 2px solid gray;
          transition: 500ms ease;
          padding: 3px 6px;

          &:focus {
            border-bottom: 2px solid blue;
            background: rgb(230, 230, 255);
          }

        }

        label {
          display: block;
        }

        fieldset {
          width: 80%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 2px;
          padding: 5px 10px 10px 10px;

          input[type="text"] {
            width: 100%;
          }
        }

        input[type="submit"] {
          padding: 5px;
        }

        &:hover {
          background: rgb(230, 230, 230);
        }
      }
    }
  }
}
