@use "../mixins";

.notification-manager-sidebar {
  z-index: 1000;
  position: absolute;
  display: grid;
  place-items: center;
  top: 0;
  bottom: 0;
  right: -550px;
  width: clamp(300px, 40vw, 400px);
  background: rgb(190, 190, 190);
  transition: 1s ease-in-out;

  .notification-pool {
    margin-top: 3rem;
    height: 70vh;
    width: 100%;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
    @include mixins.BasicComponentScrollbar;

    li {
      // notification item
      position: relative;
      background: ghostwhite;
      text-align: center;
      border: 1px solid black;
      border-radius: 5px;
      padding: 10px 5px 20px 5px;
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      .notif-remove-btn {
        position: absolute;
        width: 25px;
        top: 2px;
        right: 2px;
        border: 1px solid black;
        border-radius: 100px;
        transition: 500ms ease;
        cursor: pointer;

        &:hover {
          background: rgb(255, 200, 200);
          transform: rotate(360deg);
        }
      }

      p {
        width: 95%;
        font-size: 0.9rem;
      }

      span {
        // timestamp
        position: absolute;
        bottom: 2px;
        right: 4px;
        font-size: 0.7rem;
        color: rgb(70, 70, 70);
      }
    }

    .no-notif {
      // displayed if there's no notifications.
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      color: gray;
    }
  }

  @include mixins.BackButton;

  .back-btn {
    background: ghostwhite;
  }
}

.display-notifs-btn {
  z-index: 1000;
  width: 2.2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 100px;
  background: rgb(220, 220, 220);
  transition: 500ms ease;
  cursor: pointer;

  &:hover {
    background: rgb(240, 240, 240);
    transform: rotate(360deg);
  }

}
