.toggle-box {
  position: absolute;
  right: 0;
  width: 40px;
  height: 20px;
  border-radius: 11px;
  background: #e0e0e0;
  box-shadow: inset 8px 8px 8px #bababa, inset -8px -8px 8px #ffffff;
  cursor: pointer;
  .toggle-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    background: linear-gradient(0deg, rgb(190, 190, 190), rgb(110, 110, 110));
    animation: toggleFalseAnim 125ms linear forwards;
  }
  &.true {
    background: #adffbb;
    box-shadow: inset 8px 8px 8px #93d99f, inset -8px -8px 8px #c1ffd3;
    .toggle-dot {
      animation: toggleTrueAnim 125ms linear forwards;
    }
  }
}

@keyframes toggleTrueAnim {
  from {
    right: 50%;
  }
  to {
    right: 0;
  }
}

@keyframes toggleFalseAnim {
  from {
    right: 0;
  }
  to {
    right: 50%;
  }
}
