.toggle-box {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 11px;
  background: #e0e0e0;
  box-shadow: inset 8px 8px 8px #bababa, inset -8px -8px 8px #ffffff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  .toggle-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    background: linear-gradient(0deg, rgb(190, 190, 190), rgb(110, 110, 110));
    transition: 250ms ease;
  }
  &.true {
    .toggle-dot {
      right: 0;
    }
  }
}
