.vote-like-display {
  position: absolute;
  top: 2%;
  left: 2%;
  bottom: 2%;
  right: 2%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 1500;

  .vote-like-display-container {
    position: relative;
    height: 100%;

    .arrow {
      position: absolute;
      top: 50%;
      padding: 10px 8px;
      font-weight: bolder;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 3px;
      font-size: 1rem;
      color: white;
      transition: 500ms ease;
      cursor: pointer;

      &:hover {
        background: rgba(20, 20, 20, 0.8);
        transform: scale(1.1);
      }
    }

    .arrow-left {
      left: 1rem;
    }

    .arrow-right {
      right: 1rem;
    }

    .question-votes-view {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      h3 {
        text-align: center;
      }

      .question-votes-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;

        .votes-card {
          width: 20%;
          height: 100%;
          display: grid;
          grid-template-rows: 200px 20px;
          gap: 1rem;

          .amount-holder {
            position: relative;
            height: 200px;
            width: 50px;
            display: block;
            margin: 0 auto;
            border-radius: 5px;
            background: #e0e0e0;
            box-shadow: inset 5px 5px 8px #bebebe, inset -5px -5px 8px #ffffff;

            .amount {
              position: absolute;
              bottom: 0;
              right: 0;
              left: 0;
              height: 0;
              border-radius: 5px;
              background: #6d8b8d;
              box-shadow: inset 5px 5px 8px #597274, inset -5px -5px 8px #81a4a6;
              transition: 500ms ease;

              .number {
                color: white;
                text-align: center;
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
            }

            #valid {
              background: #367420;
              box-shadow: inset 5px 5px 8px #2c5f1a, inset -5px -5px 8px #408926;
            }

            #invalid {
              background: #a42828;
              box-shadow: inset 5px 5px 8px #8b2222, inset -5px -5px 8px #bd2e2e;
            }
          }

          h5 {
            text-align: center;
            font-weight: bold;
            color: black;

            &#n0 {
              color: rgb(172, 92, 0);
            }

            &#n1 {
              color: rgb(93, 11, 117);
            }

            &#n2 {
              color: rgb(11, 30, 114);
            }

            &#n3 {
              color: rgb(175, 190, 0);
            }
          }
        }
      }
    }
  }
}
