.vote-like-display {
  position: absolute;
  top: 2%;
  left: 2%;
  bottom: 2%;
  right: 2%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 1500;

  .vote-like-display-container {
    position: relative;
    height: 100%;

    .arrow-left {
      position: absolute;
      left: 1rem;
      top: 50%;
      height: 0;
      width: 0;
      border-top: 25px solid transparent;
      border-right: 25px solid rgb(96, 84, 202);
      border-bottom: 25px solid transparent;
      transform: scale(0.8);
      transition: 500ms ease;
      cursor: pointer;

      &:hover {
        transform: scale(0.9);
      }
    }

    .arrow-right {
      position: absolute;
      right: 1rem;
      top: 50%;
      height: 0;
      width: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 28px solid rgb(96, 84, 202);
      transform: scale(0.8);
      transition: 500ms ease;
      cursor: pointer;

      &:hover {
        transform: scale(0.9);
      }
    }

    .question-votes-view {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      h3 {
        text-align: center;
      }

      .question-votes-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;

        .votes-card {
          width: 20%;
          height: 100%;
          display: grid;
          grid-template-rows: 200px 20px;
          gap: 1rem;

          .amount-holder {
            position: relative;
            height: 200px;
            width: 50px;
            display: block;
            margin: 0 auto;
            border-radius: 5px;
            background: #e0e0e0;
            box-shadow: inset 5px 5px 8px #bebebe, inset -5px -5px 8px #ffffff;

            .amount {
              position: absolute;
              bottom: 0;
              right: 0;
              left: 0;
              height: 0;
              border-radius: 5px;
              background: #a42828;
              box-shadow: inset 5px 5px 8px #8b2222, inset -5px -5px 8px #bd2e2e;
              transition: 500ms ease;

              .number {
                color: white;
                text-align: center;
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          h5 {
            text-align: center;
            font-weight: bold;

            &#n0 {
              color: rgb(172, 92, 0);
            }

            &#n1 {
              color: rgb(93, 11, 117);
            }

            &#n2 {
              color: rgb(11, 30, 114);
            }

            &#n3 {
              color: rgb(175, 190, 0);
            }
          }
        }
      }
    }
  }
}

.vote-like-display-btn {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}
