@use "./mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  user-select: none;
}

body {
  background: rgb(245, 245, 245);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow: hidden;
}

.btn {
  @include mixins.BasicButton;
}

button {
  cursor: pointer;
}
